*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0%;
}
header{
    padding: 50px;
    text-align: center;
    border: black 4px solid;
    background-color: rgb(17, 143,158);
    /* greenish background */
color: #edf1f2;
/* white  text color  */
}
header h1{
    font-size: 40px;
}
nav{background-color: #333;
/* grey color */
overflow: hidden;}
nav a{
    display: block;
    color: #edf1f2;
    text-decoration: none;
    padding: 14px;
    float: left;   
}

.btns{
    display: flex;
    column-gap: 2rem;
    background-color: var(--color-white-shade) ;
}

a{
    text-decoration: none;
}
.btn{
    background-color: var(--color black);
    background-color: black;
    color: white;
    color: var(--color white);
    shape-image-threshold: initial;
cursor: pointer;
transition: 
scale 0.25 ease-in,
opacity 0.25 ease-in,
filter 0.25 ease-in;

&:hover{
    scale: 1.2;}
}
.btns:has(.btn:hover) .btn:not(:hover){
scale: 0.8;
opacity: 0.8;
filter: blur(4px);
background-color: black;
color: white;
}
body{
    background-image: url(/Images/background_img.jpg);
    color: aliceblue;
}


footer{
    overflow: hidden;
    background-color: #333;
  }
  footer a{
    display: block;
    color: #edf1f2;
    text-decoration: none;
    padding: 14px;
    float: left; 
  
  font-size: larger;}
  
  
    footer{background-color: #333;
        /* grey color */
        overflow: hidden;}
        footer a{
            display: block;
            color: #edf1f2;
            text-decoration: none;
            padding: 14px;
            float: left;   
        }
        footer a:hover{color: #edf1f2; 
        background-color: brown;}
 